{% extends 'base.html' %}
{% load static %}
{% block body_block %}

<main id="main">


<section id="services" class="services">
  <div class="container">


    <section id="specials" class="specials">
      <div class="section-title">
            <span style="color: #000">Golden Visa</span><br><br>
            <img style="width: 35%" src="/static/assets/img/golden-visa-icon.png" alt="">


          </div>

      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <p>Getting Started </p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-toggle="tab" href="#tab-1">STEP 1:<br>What is Golden/Significant Investor Visa</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-2">STEP 2:<br>Find out if you are Eligible</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-3">STEP 3:<br>Benifits of Golden/Significant Investor Visa</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-4">STEP 4:<br>Taxation Benifits</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>What is Golden/Significant Investor Visa</h3>
                    <p>The Australian Significant Investor Visa ( Australia Golden Visa ) was introduced by the government in 2012. It offers a streamlined pathway for High Net Worth Individuals (HNWI) to Permanent Residency in Australia through investment immigration. There is no direct Australia Citizenship by Investment programme although citizenship can be applied for after 3-4 years residency including 1 year of Permanent Residency.</p>
                    <!-- <ul>
                    <li class="font-italic"> <i class="icofont-check-circled"></i><a
                      href="https://www.canada.ca/en/immigration-refugees-citizenship/services/come-canada-tool-immigration-express-entry.html">
                      Answer a few questions</a> to see if you meet the minimum requirements. Once you have taken the
                       language test and have your result scores. </li>
                    <li class="font-italic"> <i class="icofont-check-circled"></i>
                      <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/eligibility.html">Read the detailed requirements</a> for each program.</li>
                    </ul> -->
                  </div>
                  <!-- <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/sunsweet.jpeg" alt="" class="img-fluid">
                  </div> -->
                </div>
              </div>
              <div class="tab-pane" id="tab-2">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Find out if you are Eligible</h3>
                    <h5>Key Points</h5>
                    <ul>
                      <li class="font-italic"> <i class="icofont-check-circled"></i> Investment of $5 MILLIION in specific structure.</li>
                      <li class="font-italic"> <i class="icofont-check-circled"></i> No age limit </li>
                      <li class="font-italic"> <i class="icofont-check-circled"></i> Option to bypass English requirements  </li>
                      <li class="font-italic"> <i class="icofont-check-circled"></i> Minimum stay just 40 days in 5 years </li>
                      <li class="font-italic"> <i class="icofont-check-circled"></i> Permanent Residence (PR) after 4 years </li>
                        <li class="font-italic"> <i class="icofont-check-circled"></i> No country quota </li>
                          <li class="font-italic"> <i class="icofont-check-circled"></i> No investment needed until pre-approval </li>
                    </ul>

                  </div>
                  <!-- <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/suntop.jpeg" alt="" class="img-fluid">
                  </div> -->
                </div>
              </div>
              <div class="tab-pane" id="tab-3">
                <div class="row">
                  <div class="col-lg-11 details order-2 order-lg-1">
                    <h3>Benifits of Golden/Significant Investor visa</h3>
                    <ul class="font-italic">
                      <li class="font-italic"> <i class="icofont-check-circled"></i>After 4 years the applicant and family can transition from Temporary Residence (TR Subclass 188) to Permanent Residence (PR Subclass 888).</li>
                      <p></p>
                      <li class="font-italic"> <i class="icofont-check-circled"></i>Although high, the investment is restricted and regulated. Residency is restricted to the immediate family. There are no country quotas currently and no investment need be made until after pre-approval.</li>
                      <p></p>
                      <li class="font-italic"> <i class="icofont-check-circled"></i>Australia is a popular destination for HNWI’s seeking residency through investment. In fact in 2017 Australia attracted 10,000 HNWI’s through investment, the highest of any country in the world, ahead of the USA with 9000 in 2nd place. </li>
                      <p></p>
                      <li class="font-italic"> <i class="icofont-check-circled"></i>Australia offers a high standard of living often ranked at or close to number 1 in the world. It has high ratings for safety of women and children. Australia is an excellent base from which to do business in SE Asia and the economy has performed exceptionally well with 27 years of continuous growth without recession.</li>
                      <p></p>
                      <li class="font-italic"> <i class="icofont-check-circled"></i>With regard to investment immigration for Australia there are rules on how the A$5m can be invested.
                      <ol class="font-italic">
                      1. Maximum 60%: In non-residential real estate, corporate bonds and shares.
                      </ol>
                    <ol class="font-italic">
                      2. Minimum 10%: Venture Capital
                    </ol></li>




                    </ul>
                    <!-- <p class="font-italic"> a) Submit application for permanent residence and work or study permit(s) for individual and family.</p>
                    <p class="font-italic"> b) Get the occupation specific work permit to obtain the work experience needed for PR</p>
                    <p class="font-italic"> c) Get the work or study permits for spouse or common-law partner and children to accompany them.</p> -->

                    <br>
                  </div>
                  <!-- <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/Priyaoils.jpeg" alt="" class="img-fluid">
                  </div> -->
                </div>
              </div>

              <div class="tab-pane" id="tab-4">
                <div class="row">
                  <div class="col-lg-11 details order-2 order-lg-1">
                    <h3>Taxation Benifits</h3>
                    <p>Temporary residents are exempt from tax on foreign income earned while overseas and CGT on foreign property. After 4 years it is possible to extend the Temporary Residence to 8 years <br><br>
                      <!-- <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/apply-permanent-residence.html">
                        Apply for permanent residence</a> -->
                      </p>

                  </div>
                  <!-- <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/Priyaoils.jpeg" alt="" class="img-fluid">
                  </div> -->
                </div>
              </div>

          </div>
        </div>

      </div>
  </section>
</div>

</section>




</main>
{% endblock %}
