{% extends 'base.html' %}
{% load static %}
{% block body_block %}

  <style media="screen">
  #age ,#lang ,#edu, #finance, #buisness, #bsteam ,#istream,#qualify,#endro{
    display: none;
  }

</style>
<!-- ------------------MODALS START----------------------- -->
<!-- Modal Workers-->

<div class="modal fade" id="main_modal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Compute your score!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="score-form1">


          <div class="form-group">

            <b><label for="">Enter your age: </label></b><br>
            <select class="modal-dropdown" name="age">
              <option value="20">
                18-24 years
              </option>
              <option value="30">
                25-32 years
              </option>
              <option value="25">
                33-39 years
              </option>
              <option value="205">
                40-44 years
              </option>
              <option value="15">
                45-54 years
              </option>
              <option value="0">
                55 and older
              </option>
            </select><br>

            <!-- <span class="popuptext show" id="myPopup">
              We only need your email to send you payment receipt.<br><br>
              We won't be storing your email in our database.
            </span> -->
            <b><label for="">Select your English language ability:</label></b>
            <select class="modal-dropdown" name="language">
              <option value="5">
                Vocational English
              </option>
              <option value="10">
              Proficiet English
              </option>

            </select>


          <b><label for="">Select your Educational Qualifications:</label></b><br>
          <select class="modal-dropdown" name="education">
            <option value="5">Trade certificate, diploma or bachelor degree by an Australian education institute; or a bachelor qualification recognised by an educational  institution of a recognised standard</option>
            <option value="10">A Bachelor degree in business, science or technology by an Australian institution; or a bachelor qualification in business, science or technology by an educational institution of a recognised standard</option>

          </select><br><br>

          <b><label for="">Financial assets:</label></b><br>
          <select class="modal-dropdown" name="finance">
            <option value="5">Not less than AUD800,000</option>
            <option value="15">Not less than AUD1.3 million</option>
            <option value="25">Not less than AUD1.8 million</option>
            <option value="35">Not less than AUD2.25 million</option>
          </select><br><br>

          <b><label for="">Business turnover:</label></b><br>
          <select class="modal-dropdown" name="buisness">
            <option value="5">Not less than AUD500,000</option>
            <option value="15">Not less than AUD1 million</option>
            <option value="25">Not less than AUD1.5 million</option>
            <option value="35">Not less than AUD2 million</option>
          </select><br><br>

          <b><label for="">Business Innovation stream only:</label></b><br>
          <select class="modal-dropdown" name="bstream">
            <option value="10">Not less than 4 years within the preceding 5 years</option>
            <option value="15">Not less than 7 years within the preceding 8 years</option>
          </select><br><br>

          <b><label for="">Investor stream only:</label></b><br>
          <select class="modal-dropdown" name="istream">
            <option value="10">Not less than 4 years</option>
            <option value="15">Not less than 7 years</option>
          </select><br><br>

          <b><label for="">Business innovation qualifications:</label></b><br>
          <select class="modal-dropdown" name="qualify">
            <option value="15">Patents or designs registered not less than 1 year before that time and  used in the day to day activities of the main business </option>
            <option value="10">Trademarks registered not less than 1 year before that time and  used in the day to day activities of the main business </option>
            <option value="5">An ownership in and day to day participation in the management of one or more main business operated under a  formal joint venture agreement/s entered into no less than 1 year before the time  </option>
            <option value="15">An ownership interest in a main business/s that derives no less than 50% of its annual turnover from export trade </option>
            <option value="10">An ownership interest in a main buisness/s not more that 5 years before :
              had an average annualised growth in turnover that was greater than 20% per annum over 3 continuous fiscal years; and
              in at least one of the 3 fiscal years employed 10 or more employees for a total number of hours that was at least the total number of hours that would have been worked by 10 full-time employees</option>
              <option value="10">An ownership interest in a main business/s that received :
                a grant from a government body in your home country of at least AUD10,000 for the purposes of early phase start up of a business, product commercialisation, business development or business expansion
                or venture capital funding of at least AUD100,000 not more than 4 years before the time of the invitation for the purposes of early phase start up of a business, product commercialisation, business development or business expansion</option>
          </select><br><br>

          <b><label for="">Special endorsement:</label></b><br>
          <select class="modal-dropdown" name="endrosment">
            <option value="10">The nominating State or Territory government agency has determined that your proposed business is of unique and important benefit to the State or Territory where the nominating government agency is located</option>
          </select><br><br>

        <button type="button" onclick="calculateScore1()" class="modal-btn">Calculate Now</button>

          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<main id="main">

  <style>
  table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
  }
  th, td {
    padding: 10px;
  }
  </style>

  <section id="pricing" class="pricing">
    <div class="container">

      <div class="section-title">
        <p style="color: black; font-size: 3em; font-family:Open Sans, sans-serif;">BUSINESS / INVESTOR VISA</p>
        <img style="width: 35%" src="/static/assets/img/20210109_174758_0002.png" alt="">

      </div>

          <br><br><br>
      <!-- <div id="content" class="row fadeIn animated odd-about-card">

      <div class="col-md-6">

        <img src="https://images.unsplash.com/photo-1541339907198-e08756dedf3f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="" class="img-responsive">


      </div>

      <div id="our-mission" class="col-md-6">

        <h2 class="title-style-2">Details available on the below link:<span class="title-under"></span></h2><br>
        <ul class="text-left" type="circle">
          <li>About the process,</li><br>
          <li>Who can apply,</li><br>
          <li>Get the right documents,</li><br>
          <li>How to apply,</li><br>
          <li>After you apply,</li><br>
          <li>Prepare for arrival.</li><br>

        </ul>
        <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/study-canada/study-permit/get-documents.html"
        class="btn-get-started">Get Started</a>

      </div>

</div> -->
<br>

        <!-- <div id="pad" class="container2 style1">

        <a style="font-size: 20px" href="https://www.canada.ca/en/immigration-refugees-citizenship/services/study-canada/study-permit/get-documents.html"><u>documents you need before you apply for a study permit</u></a>
          <p>Use this link below to get the info</p><br>

          <ul class="text-left">
            <p> 1. About the process,</p>
            <p> 2. Who can apply,</p>
            <p> 3. Get the right documents,</p>
            <p> 4. How to apply,</p>
            <p> 5. After you apply,</p>
            <p> 6. Prepare for arrival.</p>
          </ul>



      </div> -->
      <!--Grid row-->
      <div class="row-family">

        <!--Grid column-->
        <div class="col-md-12 mb-4">

          <!-- Card -->
          <div class="card gradient-card">

              <div class="card-image" style="background: #ED213A; background: -webkit-linear-gradient(to left, #93291E, #ED213A); background: linear-gradient(to left, #93291E, #ED213A);">

                <!-- Content -->
                <a href="#!">
                  <div class="text-white d-flex h-100 mask blue-gradient-rgba">
                    <div class="first-content align-self-center p-3">
                      <h3 class="card-title">OVERVIEW</h3>
                      <!-- <p class="lead mb-0">Click on this card to see details</p> -->
                    </div>
                    <!-- <div class="second-content align-self-center mx-auto text-center">
                      <i class="far fa-money-bill-alt fa-3x"></i>
                    </div> -->
                  </div>
                </a>

              </div>

              <!-- Data -->
              <!-- <div class="third-content ml-auto mr-4 mb-2">
                <p class="text-uppercase text-muted">Today's sale</p>
                <h4 class="font-weight-bold float-right">2000$</h4>
              </div> -->

              <!-- Content -->
              <div class="card-body white">
                <!-- <div class="progress md-progress">
                  <div class="progress-bar bg-primary" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="text-muted">Better than last week (25%)</p> -->
                <h4 class="text-uppercase font-weight-bold my-4">What is an Australia Business / Investor visa?</h4>
                <p class="text-muted" align="justify">The Investor Visa schemes in Australia is a citizenship by investment scheme is developed to target accomplished business owners or investors to migrate and contribute to the Australian economy actively. However, you have to go through several visa stages (must meet stay requirements of <b>4 years and pass the test to be eligible</b>) before you can acquire Australian Citizenship as there is no direct Australian Citizenship option. If you are looking for fast and direct citizenship option, you can explore citizenship by investment in Cyprus which only take 6 – 12 months to process.
Let’s look into the various investment visa options available to suit individuals with different business or investment background.
</p>

              </div>

          </div>
          <!-- Card -->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-12 mb-4">

          <!-- Card -->
          <div class="card gradient-card">

            <div class="card-image" style="background: #0f0c29;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to left, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to left, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            ">

                <!-- Content -->
                <a href="#!">
                  <div class="text-white d-flex h-100 mask purple-gradient-rgba">
                    <div class="first-content align-self-center p-3">
                      <h3 class="card-title">General Requirements of Investor Visa Australia</h3>
                      <!-- <p class="lead mb-0">Click on this card to see details</p> -->
                    </div>
                    <!-- <div class="second-content  align-self-center mx-auto text-center">
                      <i class="fas fa-chart-line fa-3x"></i>
                    </div> -->
                  </div>
                </a>

              </div>

              <!-- Data -->
              <!-- <div class="third-content  ml-auto mr-4 mb-2">
                <p class="text-uppercase text-muted">Subscriptions</p>
                <h4 class="font-weight-bold float-right">200</h4>
              </div> -->

              <!-- Content -->
               <div class="card-body white">
                <!-- <div class="progress md-progress">
                  <div class="progress-bar purple lighten-2" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>  -->
                <!-- <p class="text-muted">Worse than last week (25%)</p> -->
                <!-- <h4 class="text-uppercase font-weight-bold my-4">Family Sponsorship Processing Criteria</h4> -->
                <!-- <p class="text-muted" align="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam vel dolores qui, necessitatibus aut eaque magni mollitia tenetur molestiae sit quae quos quaerat amet exercitationem atque animi odio.</p> -->
                  <br>
                <ul style="list-style:none;">
                  <li><i class="icofont-check-circled" style="color:#cc1616;"></i><b>Below 55 year-old</b> (exempted if you are investing much higher amount)</li>
                  <li><i class="icofont-check-circled" style="color:#cc1616;"></i>Willing to invest <b>at least 800,000 AUD or more</b> into complying investment(s)</li>
                  <li><i class="icofont-check-circled" style="color:#cc1616;"></i>May need to <b>pass the points test</b></li>
                  <li><i class="icofont-check-circled" style="color:#cc1616;"></i>Show <b>proof of business or investment track records</b> (exempted if you are investing much higher amount)</li>
                  <li><i class="icofont-check-circled" style="color:#cc1616;"></i>Require to have state-sponsorship and there are limited quota in every state</li>
                </ul>
              </div>


              </div>

          </div>
          <!-- Card -->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-12 mb-4">

          <!-- Card -->
          <div class="card gradient-card">

            <div class="card-image" style="background: #ED213A; background: -webkit-linear-gradient(to left, #93291E, #ED213A); background: linear-gradient(to left, #93291E, #ED213A);">


                <!-- Content -->
                <a href="#!">
                  <div class="text-white d-flex h-100 mask peach-gradient-rgba">
                    <div class="first-content align-self-center p-3">
                      <h3 class="card-title">Investment Visa Options</h3>
                      <!-- <p class="lead mb-0">Click on this card to see details</p> -->
                    </div>
                    <!-- <div class="second-content  align-self-center mx-auto text-center">
                      <i class="fas fa-chart-pie fa-3x"></i>
                    </div> -->
                  </div>
                </a>

              </div>

              <!-- Data -->
              <!-- <div class="third-content  ml-auto mr-4 mb-2">
                <p class="text-uppercase text-muted">Traffic</p>
                <h4 class="font-weight-bold float-right">20000</h4>
              </div> -->

              <!-- Content -->
              <div class="card-body white animated">
                <!-- <div class="progress md-progress">
                  <div class="progress-bar amber darken-3" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="text-muted">Worse than last week (75%)</p>
                <h4 class="text-uppercase font-weight-bold my-4">Details</h4>
                <p class="text-muted" align="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam vel dolores qui, necessitatibus aut eaque magni mollitia tenetur molestiae sit quae quos quaerat amet exercitationem atque animi odio.</p> -->
              <ul style="list-style:none;">
                <h4><b>1. Business Innovation and Investment (provisional) Visa:</b></h4>
                <p>Mainly established business owners or investors who would like to invest a minimum of <b>800,000 AUD</b> in Australia. For those without any business or investor track records, you can invest a much higher amount to secure the 188 visa. </p>
                <h4><b>2. Business Talent Visa:</b></h4>
                <p>Suitable for more accomplished business owners or entrepreneurs willing to invest <b>at least 1.5 million AUD</b>. There is also the venture capital stream when you have to secure at least 1 million VC funding from the AVCAL. </p>
                <h4><b>3. Business Innovation and Investment (permanent) visa - Subclass 888</b></h4>
                <p>The subclass 888 investment visa is the transition of 188 visa. This is a <b>permanent visa</b> for those who are currently holding subclass 188 visa and meet certain stay requirements and business milestone. Learn more about the 888 visa.</p>

              </ul>
            </div>

          </div>
          <!-- Card -->

        </div>
        <!--Grid column-->


        <!--Grid column-->
        <div class="col-md-12 mb-4">

          <!-- Card -->
          <div class="card gradient-card">

            <div class="card-image" style="background: #0f0c29;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to left, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to left, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            ">

                <!-- Content -->
                <a href="#!">
                  <div class="text-white d-flex h-100 mask peach-gradient-rgba">
                    <div class="first-content align-self-center p-3">
                      <h3 class="card-title">Overview for Business Innovation Visa (Sub-class 188)</h3>
                      <!-- <p class="lead mb-0">Click on this card to see details</p> -->
                    </div>
                    <!-- <div class="second-content  align-self-center mx-auto text-center">
                      <i class="fas fa-chart-pie fa-3x"></i>
                    </div> -->
                  </div>
                </a>

              </div>

              <!-- Data -->
              <!-- <div class="third-content  ml-auto mr-4 mb-2">
                <p class="text-uppercase text-muted">Traffic</p>
                <h4 class="font-weight-bold float-right">20000</h4>
              </div> -->

              <!-- Content -->
              <div class="card-body white animated">
                <p>The Australia investor visa scheme is developed for <b>established business owners or investors</b> to bring their funds and expertise to the country by being engaged in a new or already established Australia business. The visa is grant for 4 years and if you meet the Permanent Residency requirement, you can apply for permanent visa after 4 year. This is the first step towards business immigration to Australia.</p>
                <p><b>There are several different sub-categories available under the subclass 188. See below for details:</b></p>

                <ol style="list-style="1"">
                  <li><b>Business Innovation Stream:</b><ul>
                    <li>willing to invest <b>500,000 – 800,000 AUD</b> and operate a business a new or existing business in Australia</li>
                    <li>must have <b>3 years of business experience</b> and operate a business with <b>500,000 AUD turnover</b></li>
                    <li>must pass points test</li>
                  </ul></li>
                  <li><b>Investor Stream:</b>
                  <ul>
                    <li>willing to invest <b>1.5 million AUD</b> into complying investments</li>
                    <li>must have <b>proof of investment track records</b></li>
                    <li>must pass points test</li>

                  </ul></li>
                  <li><b>Significant Investor Visa (SIV) Stream:</b>
                  <ul>
                    <li>willing to invest <b>at least 5 million AUD</b> in a balance portfolio of investment that comply with the state requirement</li>
                    <li>Must also meet certain milestones and maintain your investment activity in Australia</li>

                  </ul></li>
                  <li><b>Entrepreneur Stream:</b></li>
                  <ul>
                    <li>to carry out business or entrepreneurial activities in Australia</li>
                    <li>Must secure funding of at least <b>200,000 AUD</b> from an approved funding body</li>

                  </ul>
                </ol>
                <!-- <div class="progress md-progress">
                  <div class="progress-bar amber darken-3" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="text-muted">Worse than last week (75%)</p>
                <h4 class="text-uppercase font-weight-bold my-4">Details</h4>
                <p class="text-muted" align="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam vel dolores qui, necessitatibus aut eaque magni mollitia tenetur molestiae sit quae quos quaerat amet exercitationem atque animi odio.</p> -->

            </div>

          </div>
          <!-- Card -->

        </div>
        <!--Grid column-->



        <!--Grid column-->
        <div class="col-md-12 mb-4">

          <!-- Card -->
          <div class="card gradient-card">

            <div class="card-image" style="background: #ED213A; background: -webkit-linear-gradient(to left, #93291E, #ED213A); background: linear-gradient(to left, #93291E, #ED213A);">

                <!-- Content -->
                <a href="#!">
                  <div class="text-white d-flex h-100 mask peach-gradient-rgba">
                    <div class="first-content align-self-center p-3">
                      <h3 class="card-title">Overview Business Talent Visa (Sub-class 132)</h3>
                      <!-- <p class="lead mb-0">Click on this card to see details</p> -->
                    </div>
                    <!-- <div class="second-content  align-self-center mx-auto text-center">
                      <i class="fas fa-chart-pie fa-3x"></i>
                    </div> -->
                  </div>
                </a>

              </div>

              <!-- Data -->
              <!-- <div class="third-content  ml-auto mr-4 mb-2">
                <p class="text-uppercase text-muted">Traffic</p>
                <h4 class="font-weight-bold float-right">20000</h4>
              </div> -->

              <!-- Content -->
              <div class="card-body white animated">
                <p>The Business Talent Visa is suitable is a permanent residence visa suitable for <b>more established business owners or entrepreneurs</b> that own and operate businesses with much higher sales turnover. Additionally, they must be willing to invest at least 1.5 million AUD in a new or existing business. You are required to meet certain business milestones within 2 years of obtain the 132 visa.</p>
                <p><b>There are several different sub-categories available under the subclass 132. See below for details:</b></p>

                <ol style="list-style="1"">
                  <li><b>Significant Business History Stream:</b><ul>
                    <li>	for experience business owners or entrepreneurs who would like to operate a new and existing business in Australia</li>
                    <li>	must have at least <b>3 million business turnover for at least 2 years out of the last 4 years</b></li>
                    <li>	willing to <b>invest a minimum of 1.5 million AUD</b> (higher investment amount required for popular states like NSW and VIC)</li>
                  </ul></li>
                  <li><b>Venture Capital Entrepreneur Stream:</b>
                  <ul>
                    <li>	secure <b>at least 1 million AUD</b> funding from the Australian Private Equity and Venture Capital Association Limited (AVCAL)</li>
                    <li>	operate and establish a new or existing business in Australia</li>

                  </ul></li>
                </ol>
                <!-- <div class="progress md-progress">
                  <div class="progress-bar amber darken-3" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="text-muted">Worse than last week (75%)</p>
                <h4 class="text-uppercase font-weight-bold my-4">Details</h4>
                <p class="text-muted" align="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam vel dolores qui, necessitatibus aut eaque magni mollitia tenetur molestiae sit quae quos quaerat amet exercitationem atque animi odio.</p> -->

            </div>

          </div>
          <!-- Card -->

        </div>
        <!--Grid column-->




      </div>
      <!--Grid row-->

      <!-- Pie chart -->
      <h2 style="text-centre"><b>Points table for Business Innovation and Investment (Provisional) visa (subclass 188)</b></h2>
      <div class="row">

          <div class="container1">

            <div style="padding-top: 90px;">
              <canvas id="myChart"></canvas>
            </div>
          </div>

          <div class="col">
            <div class="container" style="margin-top: 50px; padding-right: 100px;" >
              <div id="age">
                <h1>Age</h1>
                <p>
                  You will only be awarded one set of points under each factor. For example, if you have an English language ability of Proficient, you will be awarded 10 points for Proficient English and not points for both Proficient English and Vocational English</p>

              </div>

              <div id="lang">

                <h1>English Language (Adaptability)</h1>
                <p>content</p>

              </div>

              <div id="edu">
                <h1>Educational Qualifications</h1>
                <p>Foreign nationals (FN) get points for the number of years
                  they have worked full-time doing paid work (at least 30 hours per week,
                  or an equal amount of part-time [15 hours per week for 24 months]).
                  FN will get more points if they have worked in Canada while they were
                  studying. Having six or more years’ experience affords them 15 points.</p>
              </div>

              <div id="finance">
                <h1>Financial assets</h1>

                <p>Foreign nationals (FN) and their spouse can earn 10 points
                  in this category. If the spouse’s language level in either French or
                  English is CLB 4 in all 4 language abilities (listening, reading,
                  writing and speaking), they are allotted 5 points. If the spouse
                  has worked or studied in Canada, they are allotted 5 points. If the
                  FN has a relative in Canada, they qualify for 5 additional points.</p>
              </div>

              <div id="buisness">

                <h1>Business turnover</h1>

                <p>Foreign nationals (FN) can get points if they have a job
                  offer of at least one year from a Canadian employer. They need to
                  get the job offer before they apply to come to Canada as a Federal
                  Skilled Worker. If the employer has made a valid job offer, they
                  will get 10 points. </p>
              </div>

              <div id="bstream">

                <h1>Buisness Innovation stream only</h1>

                <p>Buisness Experience</p>
              </div>

              <div id="istream">

                <h1>Investor stream only</h1>

                <p>Investor Experience</p>
              </div>

              <div id="qualify">

                <h1>Buisness Innovation stream only</h1>

                <p>Age is a key factor if a FN want to reach the 67 points
                  threshold.  FN between the age group of 18-35 get maximum points.
                  As the age increases the points for age drop.</p>
              </div>

              <div id="endro">

                <h1>Special Endrosement</h1>

                <p>Age is a key factor if a FN want to reach the 67 points
                  threshold.  FN between the age group of 18-35 get maximum points.
                  As the age increases the points for age drop.</p>
              </div>

            </div>
          </div>

            </div>
            <div class="text-center">
    <br><button onclick="showModal1()" class="express-btn3 modal-btn" type="button">Calculate your score!</button>
  </div>

  <div class="container">
    <div class="text-center performance3">
    <br><h1>Your Performance:</h1>
    </div>
    <div class="row">

        <div class="container1">
          <div class="resultChart">
            <canvas id="myChart1"></canvas>
          </div>
        </div>

        <div class="col">
          <div class="text-center" style="padding-top: 70px;">
            <br><h3 class="insert-here1-1"></h3>
            <h4 class="insert-here1-2"></h4>
          </div>
        </div>

  </div>
</div>
 </section>

</main>

 <script type="text/javascript">
   $('#myModal').on('shown.bs.modal', function () {
   $('#myInput').trigger('focus')
  })
 </script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
{% endblock %}
