{% extends 'base.html' %}
{% load static %}
{% block body_block %}

<main id="main">

  <style>
  table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
  }
  th, td {
    padding: 10px;
  }
  </style>

  <section id="pricing" class="pricing">
    <div class="container">

      <div class="section-title">
        <p style="color: black; font-size: 3em; font-family:Open Sans, sans-serif;">BUSINESS / INVESTOR VISA</p>
      </div>

          <br><br><br>
      <!-- <div id="content" class="row fadeIn animated odd-about-card">

      <div class="col-md-6">

        <img src="https://images.unsplash.com/photo-1541339907198-e08756dedf3f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="" class="img-responsive">


      </div>

      <div id="our-mission" class="col-md-6">

        <h2 class="title-style-2">Details available on the below link:<span class="title-under"></span></h2><br>
        <ul class="text-left" type="circle">
          <li>About the process,</li><br>
          <li>Who can apply,</li><br>
          <li>Get the right documents,</li><br>
          <li>How to apply,</li><br>
          <li>After you apply,</li><br>
          <li>Prepare for arrival.</li><br>

        </ul>
        <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/study-canada/study-permit/get-documents.html"
        class="btn-get-started">Get Started</a>

      </div>

</div> -->
<br>

        <!-- <div id="pad" class="container2 style1">

        <a style="font-size: 20px" href="https://www.canada.ca/en/immigration-refugees-citizenship/services/study-canada/study-permit/get-documents.html"><u>documents you need before you apply for a study permit</u></a>
          <p>Use this link below to get the info</p><br>

          <ul class="text-left">
            <p> 1. About the process,</p>
            <p> 2. Who can apply,</p>
            <p> 3. Get the right documents,</p>
            <p> 4. How to apply,</p>
            <p> 5. After you apply,</p>
            <p> 6. Prepare for arrival.</p>
          </ul>



      </div> -->
      <!--Grid row-->
      <div class="row-family">

        <!--Grid column-->
        <div class="col-md-12 mb-4">

          <!-- Card -->
          <div class="card gradient-card">

              <div class="card-image" style="background: #ED213A; background: -webkit-linear-gradient(to left, #93291E, #ED213A); background: linear-gradient(to left, #93291E, #ED213A);">

                <!-- Content -->
                <a href="#!">
                  <div class="text-white d-flex h-100 mask blue-gradient-rgba">
                    <div class="first-content align-self-center p-3">
                      <h3 class="card-title">OVERVIEW</h3>
                      <!-- <p class="lead mb-0">Click on this card to see details</p> -->
                    </div>
                    <!-- <div class="second-content align-self-center mx-auto text-center">
                      <i class="far fa-money-bill-alt fa-3x"></i>
                    </div> -->
                  </div>
                </a>

              </div>

              <!-- Data -->
              <!-- <div class="third-content ml-auto mr-4 mb-2">
                <p class="text-uppercase text-muted">Today's sale</p>
                <h4 class="font-weight-bold float-right">2000$</h4>
              </div> -->

              <!-- Content -->
              <div class="card-body white">
                <!-- <div class="progress md-progress">
                  <div class="progress-bar bg-primary" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="text-muted">Better than last week (25%)</p> -->
                <h4 class="text-uppercase font-weight-bold my-4">What is an Australia Business / Investor visa?</h4>
                <p class="text-muted" align="justify">The Investor Visa schemes in Australia is a citizenship by investment scheme is developed to target accomplished business owners or investors to migrate and contribute to the Australian economy actively. However, you have to go through several visa stages (must meet stay requirements of 4 years and pass the test to be eligible) before you can acquire Australian Citizenship as there is no direct Australian Citizenship option. If you are looking for fast and direct citizenship option, you can explore citizenship by investment in Cyprus which only take 6 – 12 months to process.
Let’s look into the various investment vis options available to suit individuals with different business or investment background.
</p>
                <!-- <p><b>Two ways to sponsor spouse:</b></p>
                <ol>
                  <li> In-land sponsorship, if spouse is in Canada</li>
                  <li> Overseas sponsorship, if spouse is overseas</li>
                </ol>
                  <p><b>Dependent children:</b> must be under 22 years old and not married</p>
                  <div >
                    <p><b>Parent and Grandparents:</b></p>
                      <ol class="responsive">
                         <li>  Super visa</li>
                        <li>   Parent and grandparent sponsorship program.</li><br>
                        <p><b>•	For parents and grandparent’s sponsorship:</b> Minimum Income required</p>
                        <div class="" style="overflow-x:auto;">
                          <table style="width:100%; background-color:#0f0c29; color:#fff; font-weight:50px; " text-align="center" >
                            <tr>
                              <th>Total number of person you would be responsible for</th>
                              <th colspan="4"> Minimum income required for the 3 taxation years right before thedate of your application</th>
                            </tr>
                            <tr>
                              <th></th>
                              <th>2018</th>
                              <th>2017</th>
                              <th>2016</th>
                              <th>2015</th>

                            </tr>
                            <tr>
                              <td>2 Person</td>
                              <td>$40,379</td>
                              <td>$39,813</td>
                              <td>$39,372</td>
                              <td>$39,618</td>
                            </tr>

                            <tr>
                              <td>3 Person</td>
                              <td>$49,641</td>
                              <td>$48,945</td>
                              <td>$48,404</td>
                              <td>$47,476</td>
                            </tr>

                            <tr>
                              <td>4 Person</td>
                              <td>$60,271</td>
                              <td>$59,426</td>
                              <td>$58,768</td>
                              <td>$57,642</td>
                            </tr>

                            <tr>
                              <td>5 Person</td>
                              <td>$68,358</td>
                              <td>$67,400</td>
                              <td>$66,654</td>
                              <td>$65,377</td>
                            </tr>

                            <tr>
                              <td>6 Person</td>
                              <td>$77,095</td>
                              <td>$76,015</td>
                              <td>$75,174</td>
                              <td>$73,733</td>
                            </tr>

                            <tr>
                              <td>7 Person</td>
                              <td>$85,835</td>
                              <td>$84,631</td>
                              <td>$83,695</td>
                              <td>$82,091</td>
                            </tr>

                            <tr>
                              <td>If more than 7 person, for each additional person, add</td>
                              <td>$8,740</td>
                              <td>$8,616</td>
                              <td>$8,521</td>
                              <td>$8,358</td>
                            </tr>

                          </table>
                        </div>

                      </ol>
                      <h4 class="text-uppercase font-weight-bold my-4">HOW WE HELP</h4>
                      <p></p>
                      <ul>
                        <li>	Work with clients to make sure all documentation shows the IRCC officer that marriage is genuine for spousal sponsorship.</li>
                        <li>	Have the knowledge and expertise of submitting a thorough and complete application.</li>
                        <li>	Make sure that application is complete and correct before submission and meets IRCC requirements.</li>
                        <li>	File is prepared and presented professionally.</li>
                      </ul>
                  </div>-->

              </div>

          </div>
          <!-- Card -->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-12 mb-4">

          <!-- Card -->
          <div class="card gradient-card">

              <div class="card-image" style="background: #CAC531; background: -webkit-linear-gradient(to right, #CAC531,#F3F9A7); background: linear-gradient(to right,#CAC531,#F3F9A7);">

                <!-- Content -->
                <a href="#!">
                  <div class="text-white d-flex h-100 mask purple-gradient-rgba">
                    <div class="first-content align-self-center p-3">
                      <h3 class="card-title">General Requirements of Investor Visa Australia</h3>
                      <!-- <p class="lead mb-0">Click on this card to see details</p> -->
                    </div>
                    <!-- <div class="second-content  align-self-center mx-auto text-center">
                      <i class="fas fa-chart-line fa-3x"></i>
                    </div> -->
                  </div>
                </a>

              </div>

              <!-- Data -->
              <!-- <div class="third-content  ml-auto mr-4 mb-2">
                <p class="text-uppercase text-muted">Subscriptions</p>
                <h4 class="font-weight-bold float-right">200</h4>
              </div> -->

              <!-- Content -->
               <div class="card-body white">
                <!-- <div class="progress md-progress">
                  <div class="progress-bar purple lighten-2" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>  -->
                <!-- <p class="text-muted">Worse than last week (25%)</p> -->
                <!-- <h4 class="text-uppercase font-weight-bold my-4">Family Sponsorship Processing Criteria</h4> -->
                <!-- <p class="text-muted" align="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam vel dolores qui, necessitatibus aut eaque magni mollitia tenetur molestiae sit quae quos quaerat amet exercitationem atque animi odio.</p> -->
                  <br>
                <ul style="list-style:none;">
                  <li><i class="icofont-check-circled" style="color:#cc1616;"></i>Below 55 year-old (exempted if you are investing much higher amount)</li>
                  <li><i class="icofont-check-circled" style="color:#cc1616;"></i>Willing to invest at least 800,000 AUD or more into complying investment(s)</li>
                  <li><i class="icofont-check-circled" style="color:#cc1616;"></i>May need to pass the points test</li>
                  <li><i class="icofont-check-circled" style="color:#cc1616;"></i>Show proof of business or investment track records (exempted if you are investing much higher amount)</li>
                  <li><i class="icofont-check-circled" style="color:#cc1616;"></i>Require to have state-sponsorship and there are limited quota in every state</li>
                </ul>
              </div>


              </div>

          </div>
          <!-- Card -->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-12 mb-4">

          <!-- Card -->
          <div class="card gradient-card">

              <div class="card-image" style="background: #0f0c29;  /* fallback for old browsers */
              background: -webkit-linear-gradient(to left, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
              background: linear-gradient(to left, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
              ">

                <!-- Content -->
                <a href="#!">
                  <div class="text-white d-flex h-100 mask peach-gradient-rgba">
                    <div class="first-content align-self-center p-3">
                      <h3 class="card-title">Investment Visa Options</h3>
                      <!-- <p class="lead mb-0">Click on this card to see details</p> -->
                    </div>
                    <!-- <div class="second-content  align-self-center mx-auto text-center">
                      <i class="fas fa-chart-pie fa-3x"></i>
                    </div> -->
                  </div>
                </a>

              </div>

              <!-- Data -->
              <!-- <div class="third-content  ml-auto mr-4 mb-2">
                <p class="text-uppercase text-muted">Traffic</p>
                <h4 class="font-weight-bold float-right">20000</h4>
              </div> -->

              <!-- Content -->
              <div class="card-body white animated">
                <!-- <div class="progress md-progress">
                  <div class="progress-bar amber darken-3" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="text-muted">Worse than last week (75%)</p>
                <h4 class="text-uppercase font-weight-bold my-4">Details</h4>
                <p class="text-muted" align="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam vel dolores qui, necessitatibus aut eaque magni mollitia tenetur molestiae sit quae quos quaerat amet exercitationem atque animi odio.</p> -->
              <ul style="list-style:none;">
                <h4><b>1. Business Innovation and Investment (provisional) Visa:</b></h4>
                <p>Mainly established business owners or investors who would like to invest a minimum of 800,000 AUD in Australia. For those without any business or investor track records, you can invest a much higher amount to secure the 188 visa. </p>
                <h4><b>2. Business Talent Visa:</b></h4>
                <p>Suitable for more accomplished business owners or entrepreneurs willing to invest at least 1.5 million AUD. There is also the venture capital stream when you have to secure at least 1 million VC funding from the AVCAL. </p>
                <h4><b>3. Business Innovation and Investment (permanent) visa - Subclass 888</b></h4>
                <p>The subclass 888 investment visa is the transition of 188 visa. This is a permanent visa for those who are currently holding subclass 188 visa and meet certain stay requirements and business milestone. Learn more about the 888 visa.</p>

              </ul>
            </div>

          </div>
          <!-- Card -->

        </div>
        <!--Grid column-->


        <!--Grid column-->
        <div class="col-md-12 mb-4">

          <!-- Card -->
          <div class="card gradient-card">

            <div class="card-image" style="background: #ED213A; background: -webkit-linear-gradient(to left, #93291E, #ED213A); background: linear-gradient(to left, #93291E, #ED213A);">

                <!-- Content -->
                <a href="#!">
                  <div class="text-white d-flex h-100 mask peach-gradient-rgba">
                    <div class="first-content align-self-center p-3">
                      <h3 class="card-title">Overview for Business Innovation Visa (Sub-class 188)</h3>
                      <!-- <p class="lead mb-0">Click on this card to see details</p> -->
                    </div>
                    <!-- <div class="second-content  align-self-center mx-auto text-center">
                      <i class="fas fa-chart-pie fa-3x"></i>
                    </div> -->
                  </div>
                </a>

              </div>

              <!-- Data -->
              <!-- <div class="third-content  ml-auto mr-4 mb-2">
                <p class="text-uppercase text-muted">Traffic</p>
                <h4 class="font-weight-bold float-right">20000</h4>
              </div> -->

              <!-- Content -->
              <div class="card-body white animated">
                <p>The Australia investor visa scheme is developed for established business owners or investors to bring their funds and expertise to the country by being engaged in a new or already established Australia business. The visa is grant for 4 years and if you meet the Permanent Residency requirement, you can apply for permanent visa after 4 year. This is the first step towards business immigration to Australia.</p>
                <p><b>There are several different sub-categories available under the subclass 188. See below for details:</b></p>

                <ol style="list-style="1"">
                  <li><b>Business Innovation Stream:</b><ul>
                    <li>willing to invest 500,000 – 800,000 AUD and operate a business a new or existing business in Australia</li>
                    <li>must have 3 years of business experience and operate a business with 500,000 AUD turnover</li>
                    <li>must pass points test</li>
                  </ul></li>
                  <li><b>Investor Stream:</b>
                  <ul>
                    <li>willing to invest 1.5 million AUD into complying investments</li>
                    <li>must have proof of investment track records</li>
                    <li>must pass points test</li>

                  </ul></li>
                  <li><b>Significant Investor Visa (SIV) Stream:</b>
                  <ul>
                    <li>willing to invest at least 5 million AUD in a balance portfolio of investment that comply with the state requirement</li>
                    <li>Must also meet certain milestones and maintain your investment activity in Australia</li>

                  </ul></li>
                  <li><b>Entrepreneur Stream:</b></li>
                  <ul>
                    <li>to carry out business or entrepreneurial activities in Australia</li>
                    <li>Must secure funding of at least 200,000 AUD from an approved funding body</li>

                  </ul>
                </ol>
                <!-- <div class="progress md-progress">
                  <div class="progress-bar amber darken-3" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="text-muted">Worse than last week (75%)</p>
                <h4 class="text-uppercase font-weight-bold my-4">Details</h4>
                <p class="text-muted" align="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam vel dolores qui, necessitatibus aut eaque magni mollitia tenetur molestiae sit quae quos quaerat amet exercitationem atque animi odio.</p> -->

            </div>

          </div>
          <!-- Card -->

        </div>
        <!--Grid column-->



        <!--Grid column-->
        <div class="col-md-12 mb-4">

          <!-- Card -->
          <div class="card gradient-card">

            <div class="card-image" style="background: #CAC531; background: -webkit-linear-gradient(to right, #CAC531,#F3F9A7); background: linear-gradient(to right,#CAC531,#F3F9A7);">

                <!-- Content -->
                <a href="#!">
                  <div class="text-white d-flex h-100 mask peach-gradient-rgba">
                    <div class="first-content align-self-center p-3">
                      <h3 class="card-title">Overview Business Talent Visa (Sub-class 132)</h3>
                      <!-- <p class="lead mb-0">Click on this card to see details</p> -->
                    </div>
                    <!-- <div class="second-content  align-self-center mx-auto text-center">
                      <i class="fas fa-chart-pie fa-3x"></i>
                    </div> -->
                  </div>
                </a>

              </div>

              <!-- Data -->
              <!-- <div class="third-content  ml-auto mr-4 mb-2">
                <p class="text-uppercase text-muted">Traffic</p>
                <h4 class="font-weight-bold float-right">20000</h4>
              </div> -->

              <!-- Content -->
              <div class="card-body white animated">
                <p>The Business Talent Visa is suitable is a permanent residence visa suitable for more established business owners or entrepreneurs that own and operate businesses with much higher sales turnover. Additionally, they must be willing to invest at least 1.5 million AUD in a new or existing business. You are required to meet certain business milestones within 2 years of obtain the 132 visa.</p>
                <p><b>There are several different sub-categories available under the subclass 132. See below for details:</b></p>

                <ol style="list-style="1"">
                  <li><b>Significant Business History Stream:</b><ul>
                    <li>•	for experience business owners or entrepreneurs who would like to operate a new and existing business in Australia</li>
                    <li>•	must have at least 3 million business turnover for at least 2 years out of the last 4 years</li>
                    <li>•	willing to invest a minimum of 1.5 million AUD (higher investment amount required for popular states like NSW and VIC)</li>
                  </ul></li>
                  <li><b>Venture Capital Entrepreneur Stream:</b>
                  <ul>
                    <li>•	secure at least 1 million AUD funding from the Australian Private Equity and Venture Capital Association Limited (AVCAL)</li>
                    <li>•	operate and establish a new or existing business in Australia</li>

                  </ul></li>
                </ol>
                <!-- <div class="progress md-progress">
                  <div class="progress-bar amber darken-3" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="text-muted">Worse than last week (75%)</p>
                <h4 class="text-uppercase font-weight-bold my-4">Details</h4>
                <p class="text-muted" align="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam vel dolores qui, necessitatibus aut eaque magni mollitia tenetur molestiae sit quae quos quaerat amet exercitationem atque animi odio.</p> -->

            </div>

          </div>
          <!-- Card -->

        </div>
        <!--Grid column-->





      </div>
      <!--Grid row-->
</section>


</main>
{% endblock %}
