{% extends 'base.html' %}
{% load static %}
{% block body_block %}

<main id="main">

  <section id="one" class="wrapper style1">

    <section id="specials" class="specials">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <p style="color: black; font-size: 3em; font-family:Open Sans, sans-serif;">STUDENT & TRAINING VISA</p>
          </div>
          <br>

          <div class="section-title-details">
            <h4>ACCELERATE YOUR CAREER WITH AN AUSTRALIAN EDUCATION</h4>

          <i>  Australia is one of the best destinations for students looking to pursue an education abroad. Not only does it boast of 8 universities in the top 100 universities in the world, but it also offers an amazing learning environment.

Looking to study in Australia? Y-Axis can help you create an Australian Student Visa application package that has the highest chances of success. Our expertise

in Australian immigration processes means that we are best positioned to help you navigate its tricky procedures. Y-Axis helps students identify the right course and college in Australia that can set them on the path to a successful career.
      </i>  </div>
<br>
        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-toggle="tab" href="#tab-1">Why study in Australia ?</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-2">All about Australia Study Visa Subclass 500</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-3">Processing Time</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-4">Decide How you want to apply </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-5">Clear your English language exam</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-6">Apply to the universities to get your CoE</a>
              </li>
              <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tab-7">Cost of Studying in Australia</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-8">Work authorization for students</a>
              </li>
          <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#tab-9">Australia student visa requirements</a>
        </li>
        <li class="nav-item">
         <a class="nav-link" data-toggle="tab" href="#tab-10">After you graduate</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#tab-11">Post-study work options</a>
      </li>

            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>WHY STUDY IN AUSTRALIA </h3>
                    <p>International students have a wide variety of choices when it comes to studying in Australia. Its quality of education, a variety of courses to choose from, and post-study work opportunities make it one of the most desirable destinations among Indian students. Australian universities are strong in research, excelling in areas such as arts and humanities, education, and sciences.</p>
                    <ul>
                      <li class="font-italic"> <i class="icofont-check-circled"></i> A <b>renowned destination</b> for students from India.</li>
                      <li class="font-italic"> <i class="icofont-check-circled"></i> <b>Globally accredited</b> qualifications  </li>
                      <li class="font-italic"> <i class="icofont-check-circled"></i> Rights for overseas students </li>
                      <li class="font-italic"> <i class="icofont-check-circled"></i> <b>Linguistic</b> diversity </li>
                      <li class="font-italic"> <i class="icofont-check-circled"></i> <b>Monetary aid</b> from the Government </li>
                      <li class="font-italic"> <i class="icofont-check-circled"></i> Steadily growing economy offering <b>good job prospects</b></li>
                      <li class="font-italic"> <i class="icofont-check-circled"></i> A degree that is <b>valued across the world</b></li>
                      <li class="font-italic"> <i class="icofont-check-circled"></i> Amazing Climate & Outdoor Lifestyle</li>
                    </ul>
                    <p>Australia has some of the world’s best-ranked universities. <b>According to the QS World University Ranking report for 2020, the country has eight of the country’s 300 top-ranking universities in the world</b></p>
                    <p>The country offers a wide range of courses in a variety of subjects. The <b>tuition fees here are affordable</b> compared to the UK and the US. Students in Australian universities are <b>eligible for a post-study work permit valid for up to four years</b>. This can act as a pathway to permanent residency in Australia.</p>
                    <p>Australian universities are known for their high standards and quality of instruction. Their degrees are recognized all over the world. Another advantage of studying in Australia is the low cost of living compared to other countries. Students can work part-time (up to 20 hours per week) when they
                      are studying which will help them meet part of the tuition fees. They also have access to scholarships which can lower their costs of doing a course.</p>
                      <p>Many students opt to study in Australia because its growing economy promises good job opportunities once students complete their course.</p>
                  </div>
                  <!-- <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="assets/img/sunsweet.jpeg" alt="" class="img-fluid">
                </div> -->
              </div>
            </div>
            <div class="tab-pane" id="tab-2">
              <div class="row">
                <div class="col-lg-10 details order-2 order-lg-1">
                  <h3>STUDY VISAS</h3>

                  <!-- <p>The Skillselect is designed to assess the skills of applicants under a point-based system so that immigrants with the right skills can be selected. <br></p> -->
                  <p>Compared to other countries, it is easier to get a student visa for Australia. Students wanting to study in Australia must meet certain requirements to qualify for a visa. Once you are enrolled in a full-time study course you can apply for a visa under Subclass 500</p>
                  <b>With the Student visa (Subclass 500) visa, the visa holder can</b><br><br>
                  <ul>
                    <li class="font-italic"> <i class="icofont-check-circled"></i><b>Enroll in a course</b> participate in an eligible course of study</li>
                    <li class="font-italic"> <i class="icofont-check-circled"></i> <b>Bring family members</b> to Australia  </li>
                    <li class="font-italic"> <i class="icofont-check-circled"></i> <b>Apply</b> for the visa online in or outside Australia </li>
                    <li class="font-italic"> <i class="icofont-check-circled"></i> Travel to and from the country </li>
                    <li class="font-italic"> <i class="icofont-check-circled"></i> Work for up to <b>40 hours every two weeks</b> once your course starts
                      The duration of the visa is for <b>five years</b>, you can apply for an extension. </li>
                  </ul>

<!--
                  <ul>
                    <li class="font-italic"><i class="icofont-check-circled"></i>	Job-offer </li>
                    <li class="font-italic"><i class="icofont-check-circled"></i>	Language Proficiency, CLB 5.</li>
                    <li class="font-italic"><i class="icofont-check-circled"></i> 	Education, 1- year Canadian post-secondary education or foreign equivalent.</li>
                    <li class="font-italic"><i class="icofont-check-circled"></i>	Work experience in NOC codes 4411 or 4412.</li>
                  </ul> -->
                  <!-- <section id="more">
                    <a href=" https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/caregivers/child-care-home-support-worker/some-experience-eligibility.html" class="btn-get-started scrollto">More Info</a>
                  </section>
                  <p></p> -->
                </div>
                <!-- <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="assets/img/suntop.jpeg" alt="" class="img-fluid">
              </div> -->
            </div>
          </div>
          <div class="tab-pane" id="tab-3">
            <div class="row">
              <div class="col-lg-11 details order-2 order-lg-1">
                <h3>Processing Time</h3>
                <p><b>Before you submit your visa application ensure that you meet all the eligibility requirements.</b> The processing time for your visa is usually <b>four weeks</b>. You can apply for the visa <b>124 days before</b> the start of your course and you can travel to the country <b>90 days before</b> the commencement of your course.
                  If you have any dependents, they can apply for the same <b>Subclass 500 visa</b>. Even if they may not come with you immediately, you must declare your dependents in your visa application. Otherwise, they may not be eligible for a dependent visa later.</p>
                <b>Application Steps for Subclass 500 Visa:</b>
                <br>
                <ul>
                  <li class="font-italic"> <i class="icofont-check-circled"></i>Step 1: Before you even submit your application, you must first <b>gather the required documents</b>.</li>
                  <li class="font-italic"> <i class="icofont-check-circled"></i>Step 2: The documents you must submit are proof of your <b>identity, character, and other documents</b> that prove that you have fulfilled the visa conditions. </li>
                  <li class="font-italic"> <i class="icofont-check-circled"></i>Step 3: <b>Apply</b> for the visa online. </li>
                  <li class="font-italic"> <i class="icofont-check-circled"></i>Step 4: You will be <b>notified by the authorities</b> that they have received your visa application.</li>
                  <li class="font-italic"> <i class="icofont-check-circled"></i>Step 5: You will be notified of the outcome of your visa application.
                  </li>
                </ul>
                </div>
              <!-- <div class="col-lg-4 text-center order-1 order-lg-2">
              <img src="assets/img/Priyaoils.jpeg" alt="" class="img-fluid">
            </div> -->
          </div>
        </div>

        <div class="tab-pane" id="tab-4">
          <div class="row">
            <div class="col-lg-10 details order-2 order-lg-1">
              <h3>Ways to apply</h3>
              <p>Australia provides <b>multiple options</b> when you want to apply for a university</p>
               <b>The application can be made:</b>
               <ul>
                 <li class="font-italic"> <i class="icofont-check-circled"></i>Directly by you through the university’s website</li>
                 <li class="font-italic"> <i class="icofont-check-circled"></i>By a local university</li>
                 <li class="font-italic"> <i class="icofont-check-circled"></i>By an external agent</li>
               </ul>
                        </div>
        </div>


      </div>
      <div class="tab-pane" id="tab-5">
        <div class="row">
          <div class="col-lg-10 details order-2 order-lg-1">
            <h3>Clear your English language exam</h3>
            <p>If English is not your native language, then you need to take an <b>English language proficiency test</b>. You need to take the <b>IELTS test</b> and keep the results of the tests ready when you are making your visa application.</p>
                      </div>
      </div>


    </div>

    <div class="tab-pane" id="tab-6">
      <div class="row">
        <div class="col-lg-11 details order-2 order-lg-1">
          <h3>Apply to the universities to get your CoE</h3>
          <p>Once you are selected for a course, you will receive an offer letter from the college. You will have to <b>give a written confirmation accepting the offer and pay the tuition fees</b>. Subsequent to this you will receive a Confirmation of Enrolment or CoE. This document is <b>required to process your visa application</b>.</p>
          <br>
          <b>Apply for your visa</b>

          <ul>
            <li class="font-italic"> <i class="icofont-check-circled"></i>Electronic Confirmation of Enrolment (eCoE) certificate</li>
            <li class="font-italic"> <i class="icofont-check-circled"></i>Genuine Temporary Entrant (GTE) statement</li>
            <li class="font-italic"> <i class="icofont-check-circled"></i>Financial Requirements that you can fund your studies (funds to cover your return airfare, tuition fees and a sum of AU$18,610 per year)</li>
            <li class="font-italic"> <i class="icofont-check-circled"></i>Your English Proficiency test results</li>
            <li class="font-italic"> <i class="icofont-check-circled"></i>Australian approved health insurance cover.
            </li>
            <li class="font-italic"> <i class="icofont-check-circled"></i>Verification of your criminal records.
            </li>

          </ul>
          </div>
        <!-- <div class="col-lg-4 text-center order-1 order-lg-2">
        <img src="assets/img/Priyaoils.jpeg" alt="" class="img-fluid">
      </div> -->
    </div>
  </div>

  <div class="tab-pane" id="tab-7">
    <div class="row">
      <div class="col-lg-11 details order-2 order-lg-1">
        <h3>COST OF STUDYING IN AUSTRALIA</h3>
        <p>Usually, courses in Arts, Education, and Humanities are cheaper while subjects like Engineering and Medicine are expensive. Studies at the Post Graduate level have higher tuition fees typically and costs are diverse <b>based on the program</b>
        <br>
        <ul>
         <table class="table">
  <thead>
    <tr>
      <th scope="col">Sr No</th>
      <th scope="col">Study Program</th>
      <!-- <th scope="col">Last</th> -->
      <th scope="col">Average Tuition Fees in AUD$</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Undergraduate Bachelor Degree</td>
      <td>$15,000 – $35,000 yearly</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Postgraduate Master’s Degree</td>
      <td>$20,000 – $40,000 yearly</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td >Doctoral Degree</td>
      <td>$14,000 – $37,000 yearly</td>
    </tr>
  </tbody>
</table>

        </ul>
        </div>
      <!-- <div class="col-lg-4 text-center order-1 order-lg-2">
      <img src="assets/img/Priyaoils.jpeg" alt="" class="img-fluid">
    </div> -->
  </div>
</div>

<div class="tab-pane" id="tab-8">
  <div class="row">
    <div class="col-lg-11 details order-2 order-lg-1">
      <h3>WORK AUTHORIZATION FOR STUDENTS:</h3>
      <p><b>Student Applicant:</b></p>
      <br>
      <ul>
        <li class="font-italic"> <i class="icofont-check-circled"></i>Students must be over <b>18 years of age</b></li>
        <li class="font-italic"> <i class="icofont-check-circled"></i>International students in Australia on a valid student visa can <b>work for up to 20 hours per week</b></li>
        <li class="font-italic"> <i class="icofont-check-circled"></i>An exception is, working as an academic assistant. There is no limit to how many days academic assistants may work</li>
        <li class="font-italic"> <i class="icofont-check-circled"></i>They are <b>not allowed</b> to be self-employed or work as freelancers</li>

      </ul>
      <p>After graduation students can apply for the <b>Temporary Graduate visa (subclass 485)</b>. The visa will be granted based on the coursework and the category under which the student has applied.</p>
      <br>
      <b>Spouse:</b>
      <p>In general, spouses are given the same rights as the spouse is already in Australia. Therefore, <b>if the spouse in Australia has the right to work, the spouse who comes to join him or her will also have that right</b>. But also note that <b>only work permit holders can apply for the dependant visas</b>.</p>
      </div>
    <!-- <div class="col-lg-4 text-center order-1 order-lg-2">
    <img src="assets/img/Priyaoils.jpeg" alt="" class="img-fluid">
  </div> -->
</div>
</div>



<!-- some error -->
<div class="tab-pane" id="tab-9">
  <div class="row">
    <div class="col-lg-10 details order-2 order-lg-1">
      <h3>AUSTRALIA STUDENT VISA REQUIREMENTS:</h3>
      <b>Student visa details:</b>
      <ul>
        <li class="font-italic"> <i class="icofont-check-circled"></i>The student visa for Australia falls under <b>Subclass 500</b>.</li>
        <li class="font-italic"> <i class="icofont-check-circled"></i>You will be eligible for a student visa only if you wish to <b>pursue a registered course or part of it on a full-time basis</b>.</li>
        <li class="font-italic"> <i class="icofont-check-circled"></i> The maximum validity of the visa is <b>five years</b>. </li>
        <li class="font-italic"> <i class="icofont-check-circled"></i>A registered course is an education or training course offered by a university/ institute registered with the Australian government. </li>
        <li class="font-italic"> <i class="icofont-check-circled"></i>The course you wish to pursue must be registered with the <b>Commonwealth Register of Institutions and Courses for Overseas Students (CRICOS)</b>.
        <ul>
          <li class="font-italic"> <i class="icofont-check-circled"></i>Issued an <b>electronic Confirmation of Enrolment (eCoE)</b> certificate – this is to confirm your enrolment in an Australian University</li>
          <li class="font-italic"> <i class="icofont-check-circled"></i><b>Genuine Temporary Entrant (GTE)</b> statement – this is proof of your intention to come to Australia only to study and not to settle down here.</li>
          <li class="font-italic"> <i class="icofont-check-circled"></i>Four recent passport-sized photographs</li>
          <li class="font-italic"> <i class="icofont-check-circled"></i>Certified or notarized copies transcript/document of academic results</li>
          <li class="font-italic"> <i class="icofont-check-circled"></i><b>Overseas Student Health Cover (OSHC)</b> – approved by the Australian government, this health insurance provides basic medical and hospital cover. You can purchase this insurance through your university.</li>
          <li class="font-italic"> <i class="icofont-check-circled"></i>Results of tests in the English language like <b>IELTS, TOEFL, PTE</b> if you are a non-native English speaker</li>
          <li class="font-italic"> <i class="icofont-check-circled"></i>Evidence of monetary means for covering all expenses during the period of study</li>
          <li class="font-italic"> <i class="icofont-check-circled"></i>If applicable, proof of civil status</li>
          <li class="font-italic"> <i class="icofont-check-circled"></i>Your University will make you aware of additional requirements if any prior to your application</li>
          <li class="font-italic"> <i class="icofont-check-circled"></i><b>Financial Requirements</b> – to get your student visa you must prove that you have the funds to cover your course fees, travel, and living costs.</li>
          <li class="font-italic"> <i class="icofont-check-circled"></i><b>Character Requirement</b> – you must submit a certificate to prove you have no criminal record.</li>
          <li class="font-italic"> <i class="icofont-check-circled"></i><b>Proof of visa fees payment</b> – proof that you have paid the required visa fees.</li>
  </ul></li>

      </ul>
    <p>If there any other additional requirements, the university you have been selected for will let you know about them.</p>
    </div>
</div>
</div>

<!-- error -->
<div class="tab-pane" id="tab-10">
  <div class="row">
    <div class="col-lg-10 details order-2 order-lg-1">
      <h3>AFTER YOU GRADUATE:</h3>
      <p>If you completed a Bachelors, Masters or Doctoral degree, you may be eligible for the Post-Study Work stream of the <b>Temporary Graduate (subclass 485) visa</b></p>
      <br>
      <p><b>Graduate Work stream</b>: International students with an eligible qualification who graduated with skills and qualifications that relate to an occupation on the Medium and Long-term Strategic Skills List (MLTSSL). A visa in this stream is granted for 18 months from the date of grant
</div>
</div>
</div>

<div class="tab-pane" id="tab-11">
  <div class="row">
    <div class="col-lg-10 details order-2 order-lg-1">
      <h3>POST-STUDY WORK OPTIONS:</h3>
      <p><b>Post-Study Work stream of the Temporary Graduate (subclass 485) </b>visa grants post-study work rights to international students who have completed a
can work in the country for <b>two to four years</b> to gain international work experience.</p>
<br>
<p>Students can also work under the Graduate Work Stream. They are eligible for this stream if they have <b>graduated with the skills and occupation that is related to an occupation</b> which features in the Medium and Long-term Strategic Skills List (MLTSSL). This visa is valid for 18 months.</p>
    </div>
    <!-- <div class="col-lg-4 text-center order-1 order-lg-2">
    <img src="assets/img/sunsweet.jpeg" alt="" class="img-fluid">
  </div> -->
</div>
</div>


    </div>

  </div>
</section>
</section>


  <section id="pricing" class="pricing">
    <div class="container">

      <div class="section-title">
          <span style="color: black">STUDENT VISA</span>

      </div>
      <!-- <p class="text-center">2 Year Diploma Program For International Students</p> -->


          <br><br><br>

<br>

        <!-- <div id="pad" class="container2 style1">

        <a style="font-size: 20px" href="https://www.canada.ca/en/immigration-refugees-citizenship/services/study-canada/study-permit/get-documents.html"><u>documents you need before you apply for a study permit</u></a>
          <p>Use this link below to get the info</p><br>

          <ul class="text-left">
            <p> 1. About the process,</p>
            <p> 2. Who can apply,</p>
            <p> 3. Get the right documents,</p>
            <p> 4. How to apply,</p>
            <p> 5. After you apply,</p>
            <p> 6. Prepare for arrival.</p>
          </ul>



      </div> -->



      <div class="row">

        <div class="col-lg-4 col-md-6 mt-md-0" data-aos="zoom-in" data-aos-delay="150">
          <div class="box">
            <i style="color: #23347c" class="fas fa-door-open fa-5x"></i><br><br>
            <h2>INTAKE</h2>
            <p>Universities in Australia have diverse deadlines for application:</p>
            <ul class="text-left">
              <li><h6><b>Intake 1:</b><p></p>Semester 1-</h6></li>
                <li>It commences in <b>February</b> and is the <b>major</b> intake.</li>
                <li><h6><b>Intake 2:</b><p></p>Semester 2-</h6></li>
                  <li>It commences in <b>July</b> and intake is <b>available.</b></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-md-0" data-aos="zoom-in">
          <div class="box featured">
            <i style="color: white;" class="fas fa-clock fa-5x"></i><br><br>
            <h2>TIME FRAME</h2>
            <p>Time frames for processing:</p>
            <ul>
              <li>•	<b>4 weeks</b> for processing</li>
              <li>•	Apply for visa <b>124 days</b> before</li>
              <li>•Fly to country <b>90 days</b> prior</li>
              <!-- <li>Pharetra massa</li>
              <li class="na">Massa ultricies mi</li> -->
            </ul>
            <br><br><br>
            <!-- <div class="btn-wrap">
              <a href="#" class="btn-buy">Read More</a>
            </div> -->
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
          <div class="box">
            <i style="color: #23347c" class="fas fa-clipboard-check fa-5x"></i><br><br>
            <h2>ELIGIBLE FOR</h2>

            <ul>
              <li>•	be enrolled in a course of study in Australia</li>
              <li>•	hold Overseas Student Health Cover (OSHC), or fall in one of the exemption categories</li>
              <li>•	must be 6 years or older </li>
              <li>•prove you have a welfare arrangement, if you are under 18</li>


            </ul>
            <!-- <div class="btn-wrap">
              <a href="#" class="btn-buy">Read More</a>
            </div> -->
          </div>
        </div>

      </div>
      <br><br>




</section>

</main>
{% endblock %}
