{% extends 'base.html' %}
{% load static %}
{% block body_block %}

<!-- <section id="hero" class="d-flex align-items-center">
  <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
    <h1>Welcome to Canada</h1>
    <h2>We are team of talanted designers making websites with Bootstrap</h2>
    <a href="#about" class="btn-get-started scrollto">Get Started</a>
  </div>
</section> --><!-- End Hero -->

<main id="main">


  <section id="one" class="wrapper style1">

    <section id="specials" class="specials">
      <div class="section-title">
            <span style="color: #000">WORK VISA</span><br><br>
            <img style="width: 35%" src="/static/assets/img/workvisa.jpeg" alt="">


          </div>
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <!-- <p style="color: black; font-size: 3em; font-family:Open Sans, sans-serif;"></p> -->
          <br><br>

          <div class="section-title-details">
            <p>CHANGE YOUR LIFE WITH AN AUSTRALIAN WORK VISA</p>

            As one of the world’s most dynamic countries, Australia has an immense requirements for skilled talent. Make the most of this opportunity by applying for an Australian Work Visa. With our years of experience with Australian Visa processes, Y-Axis is the perfect partner to help you launch your career in Australia.          </div>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-toggle="tab" href="#tab-1">WHY WORK IN AUSTRALIA ?</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-2">TYPES OF WORK VISAS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-3">AUSTRALIA WORK PERMIT VISA PROCESS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-4">VISA FEE</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>WHY WORK IN AUSTRALIA </h3>
                    <ul>
                      <li class="font-italic"> <i class="icofont-check-circled"></i> Stable economy growing at <b>2.5%</b> every year on average </li>
                      <li class="font-italic"> <i class="icofont-check-circled"></i> <b>Job opportunities</b> in multiple sectors </li>
                      <li class="font-italic"> <i class="icofont-check-circled"></i> High minimum wage & great savings opportunity </li>
                      <li class="font-italic"> <i class="icofont-check-circled"></i> <b>Exceptional social benefits</b> like free healthcare </li>
                      <li class="font-italic"> <i class="icofont-check-circled"></i> Beautiful cities with vibrant <b>multicultural life</b> </li>
                    </ul>
                    <p>When you work in Australia, you will enjoy basic rights and the same workplace protection rule as other local employees. All of this makes Australia an attractive destination to make a career.</p>
                  </div>
                  <!-- <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="assets/img/sunsweet.jpeg" alt="" class="img-fluid">
                </div> -->
              </div>
            </div>
            <div class="tab-pane" id="tab-2">
              <div class="row">
                <div class="col-lg-10 details order-2 order-lg-1">
                  <h3>TYPES OF WORK VISAS</h3>
                  <p>The Australian government devised the <b>General Skilled Migration program (Skillselect)</b> in 2013 to replace the Australia skilled worker visas.</p>
                  <p>The Skillselect is designed to assess the skills of applicants under a point-based system so that immigrants with the right skills can be selected. <br></p>
                  <b>The applicants are given points under the following criteria:</b><br><br>
                  <ul style="list-style:disc">
                    <li><h5>Age:</h5>Those between the ages of <b>25 and 32</b> score the most points while those above 45 do not gain any points.<br><br></li>
                    <li><h5>English language proficiency:</h5>Applicants are required to take the <b>IELTS test</b>. If they score 8 bands or more, you get 20 points.<br><br></li>
                    <li><h5>Skilled employment:</h5>If you have experience in an occupation that is listed in the <b>Skilled Occupations</b> List you will get points based on the years of experience. 20 is the maximum points you can gain.<br><br></li>
                    <li><h5>Educational qualification:</h5>To get points under this category, your qualification must be related to your <b>nominated occupation</b>. 20 points is the maximum you can score if you have a doctorate while a bachelor’s or master’s degree will give you 15 points.<br><br></li>
                    <li><h5>Australian qualifications:</h5>You can get five points if you have an <b>Australian qualification</b> from an Australian educational institute.<br><br></li>
                    <li><h5>Regional study:</h5>You can gain an additional 5 points if you have <b>lived and studied in regional Australia</b>.<br><br></li>
                    <li><h5>Community language skills:</h5>You will gain another 5 points if you have <b>translator/ interpreter level skills in one of the country’s communities languages</b>.<br><br></li>
                    <li><h5>Spouse/partner skills and qualifications:</h5>If you have included your spouse/partner in the application and he/she is not an Australian resident/citizen, then their skills are eligible to be counted towards your total points. You will gain an additional five points if your <b>spouse/partner must meet the basic requirements of the Australian General Skilled Migration</b><br><br></li>
                    <li><h5>Professional year:</h5>You can gain another 5 points if you have completed a <b> Professional Year in Australia in the last five years</b>.<br><br></li>
                    <li><h5>Skilled Independent Visa:</h5>You can be eligible for this visa if you have the necessary skills and qualifications for specific occupations that are listed in the <b>Skilled Occupation List (SOL)</b>. This visa does not require the sponsorship of an employer. You can use the SkillSelect tool to find out if your skills are in demand.<br><br></li>
                    <li><h5>Employer Nomination Scheme:</h5>Under this scheme, a permanent work visa is given to <b>workers sponsored by their companies</b>.<br><br></li>
                    <li><h5>TSS Visa (Temporary Skill Shortage): </h5>Under this visa, individuals can work between <b>two to four years</b> depending on the employee’s requirement. Applicants should have a minimum of two years’ work experience and should be below 45 years. Companies taking employees on this visa must pay them the market salary.<br><br></li>
                </ul>

<!--
                  <ul>
                    <li class="font-italic"><i class="icofont-check-circled"></i>	Job-offer </li>
                    <li class="font-italic"><i class="icofont-check-circled"></i>	Language Proficiency, CLB 5.</li>
                    <li class="font-italic"><i class="icofont-check-circled"></i> 	Education, 1- year Canadian post-secondary education or foreign equivalent.</li>
                    <li class="font-italic"><i class="icofont-check-circled"></i>	Work experience in NOC codes 4411 or 4412.</li>
                  </ul> -->
                  <!-- <section id="more">
                    <a href=" https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/caregivers/child-care-home-support-worker/some-experience-eligibility.html" class="btn-get-started scrollto">More Info</a>
                  </section>
                  <p></p> -->
                </div>
                <!-- <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="assets/img/suntop.jpeg" alt="" class="img-fluid">
              </div> -->
            </div>
          </div>
          <div class="tab-pane" id="tab-3">
            <div class="row">
              <div class="col-lg-11 details order-2 order-lg-1">
                <h3>AUSTRALIA WORK PERMIT VISA PROCESS</h3>
                <p>Steps to apply for a work visa:</p>
                <ol class="font-italic" type="1">
                  <li>Determine the <b>category of work visa</b> you are eligible for</li>
                  <li>Ensure that you satisfy the requirements of the <b>points-based assessment (Skillselect)</b></li>
                  <li>Make sure your employer completes an <b>online nomination/sponsorship form</b> <b>before</b> you can apply for the visa</li>
                  <li>Fill the <b>online application form</b> of the visa category</li>
                  <li>Submit the relevant information and supplementary documents along with your application.</li>
                  <li>Pay your <b>application fee</b> for processing your visa</li>
                  <li>Y-Axis has extensive experience with helping individuals secure an Australian Work Visa. The key documents necessary to apply for this visa include:<br><b>Evidence of English proficiency (IELTS/TOEFL)</b></li>
                  <li>Provide <b>educational and employment</b> documentation</li>
                  <li><b>Health insurance</b></li>

                </ol>
                <p>Typically, the work visa takes <b>2-5 months</b> to be processed. A Y-Axis Work Visa Expert will help you with the visa application processing and work with you to create a thorough and comprehensive visa application to increase your chances of success. Once your visa is processed you can travel to Australia for work.</p>
                </div>
              <!-- <div class="col-lg-4 text-center order-1 order-lg-2">
              <img src="assets/img/Priyaoils.jpeg" alt="" class="img-fluid">
            </div> -->
          </div>
        </div>

        <div class="tab-pane" id="tab-4">
          <div class="row">
            <div class="col-lg-10 details order-2 order-lg-1">
              <h3>VISA FEES</h3>
              <p>The visa fees change from time to time. The cost of your visa is dependent on the <b>date we receive your application</b>. If there is a price increase between the date you lodge your application and the date the immigration department receives your application, you will need to pay the <b>new application charge</b>. You must ensure that you have the available funds to cover the surcharges.</p>
              <p>Visa application charges are usually in <b>Australian dollars (AUD)</b> which must be paid with the visa application. However, in some cases, there are no visa application charges.</p>
                        </div>
        </div>


      </div>
    </div>

  </div>
</section>


</section>

<section id="services" class="services">
  <div class="container">
    <div class="row">
       <div class="col-lg-3 col-md-6 d-flex align-items-stretch" onclick="showContent('intro')" data-aos="fade-up">
         <div class="icon-box">
           <br>
           <img class="resize" src="https://jtimmigration.com/wp-content/uploads/skilled-trades-immigrate-to-Canada.jpg" alt="">
           <br><br><h4><br>Skilled Independent visa (subclass 189)</h4>
           <section id="score" >
             <br>
             <div class="btn-get-started scrollto">
               CALCULATE YOUR SCORE
             </div>
               <!-- <a class="btn-get-started scrollto"onclick="showContent('intro')">CALCULATE YOUR CSR SCORES</a> -->
           </section>
         </div>
       </div>

       <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" onclick="showContent('eligibility')" data-aos="fade-up" data-aos-delay="150">
         <div class="icon-box">
           <br>
            <img class="resize" src="https://jtimmigration.com/wp-content/uploads/skilled-trades-immigrate-to-Canada.jpg" alt="">
           <br><br><h4><br>Skilled Nominated visa (subclass 190)</h4>
           <section id="score" >
             <br> <br>
             <div class="btn-get-started scrollto">
               CALCULATE YOUR SCORE
             </div>
           </section>
         </div>
       </div>

       <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" onclick="showContent('eligibility')" data-aos="fade-up" data-aos-delay="150">
         <div class="icon-box">
           <br>
            <img class="resize" src="https://jtimmigration.com/wp-content/uploads/skilled-trades-immigrate-to-Canada.jpg" alt="">
           <br><br><h4><br>Skilled Regional (Provisional) visa (subclass 489)</h4>
           <section id="score" >
             <br>
             <div class="btn-get-started scrollto">
               CALCULATE YOUR SCORE
             </div>
           </section>
         </div>
       </div>

       <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" onclick="showContent('process')" data-aos="fade-up" data-aos-delay="300">
         <div class="icon-box">
          <br>
           <img class="resize" src="https://jtimmigration.com/wp-content/uploads/skilled-trades-immigrate-to-Canada.jpg" alt="">
         <br><br><h4><br>Skilled Work Regional (Provisional) visa (subclass 491)</h4>
         <section id="score" >
           <div class="btn-get-started scrollto">
             CALCULATE YOUR SCORE
           </div>
         </section>
         </div>
       </div>

    </div>
    </section>




  <!-- End Specials Section -->

</main>





{% endblock %}
